<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>ManagementChuwa</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a href="index.html" class="brand">Management Chuwa</a>
        </div>
        <div>
          <a href="signin.html">Sign In</a>
          <a href="cart.html">Cart</a>
        </div>
      </header>
      <main>
        <div class="row center">
          <div class="card">
            <a href="product.html">
              <!-- image size: 608px by 830px -->
              <img class="medium" src="/template/images/p1.jpeg" alt="product" />
            </a>
            <div class="card-body">
                <h4>
                  VAIO 14.1" FE Series Notebook
                </h4>
            </div>
            <div class="price">
                $899.00  
            </div>
          </div>

          <div class="card">
            <a href="product.html">
              <!-- image size: 608px by 830px -->
              <img class="medium" src="/template/images/p1.jpeg" alt="product" />
            </a>
            <div class="card-body">
                <h4>
                  VAIO 14.1" FE Series Notebook
                </h4>
            </div>
            <div class="price">
                $899.00  
            </div>
          </div>

          <div class="card">
            <a href="product.html">
              <!-- image size: 608px by 830px -->
              <img class="medium" src="/template/images/p1.jpeg" alt="product" />
            </a>
            <div class="card-body">
                <h4>
                  VAIO 14.1" FE Series Notebook
                </h4>
            </div>
            <div class="price">
                $899.00  
            </div>
          </div>

          <div class="card">
            <a href="product.html">
              <!-- image size: 608px by 830px -->
              <img class="medium" src="/template/images/p1.jpeg" alt="product" />
            </a>
            <div class="card-body">
                <h4>
                  VAIO 14.1" FE Series Notebook
                </h4>
            </div>
            <div class="price">
                $899.00  
            </div>
          </div>

          <div class="card">
            <a href="product.html">
              <!-- image size: 608px by 830px -->
              <img class="medium" src="/template/images/p1.jpeg" alt="product" />
            </a>
            <div class="card-body">
                <h4>
                  VAIO 14.1" FE Series Notebook
                </h4>
            </div>
            <div class="price">
                $899.00  
            </div>
          </div>

          <div class="card">
            <a href="product.html">
              <!-- image size: 608px by 830px -->
              <img class="medium" src="/template/images/p1.jpeg" alt="product" />
            </a>
            <div class="card-body">
                <h4>
                  VAIO 14.1" FE Series Notebook
                </h4>
            </div>
            <div class="price">
                $899.00  
            </div>
          </div>

        </div>
      </main>
      <footer class="row center">@2002 All Rights Reserved.</footer>
    </div>
  </body>
</html>
